## Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcscmblueprint
*.xccheckout

## Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

## CocoaPods
Pods/

## Carthage
Carthage/Build/

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## General
.DS_Store
